
@import url(style_estrutura_pagina.css);

/*DEFINE AS CONFIGURAÇÔES EM TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #d5d1ec;
    --cor02: #8c71a5;
    --cor03: #e0cef0;
    --branca: #ffffff;
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*FORMATANDO O CABEÇALHO*/
#cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
    background-color: #e4bdd0;
}

/*CONFIGURANDO MENU DA HORIZONTAL*/
#div-sobre h3{
    display: flex;
    gap: 50px;
    list-style: none;
}

#menu ul img{
    width: 45px;
    height: 25px;
}

/*FORMATANDO O FORM*/
#div-{
        width: 700px;
        margin: 20px auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        background: #e493d070;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

     #div-paragrafo{
        background:#dd8fd3;
        color: white;

        padding: 15px;
        margin: -30px -30px 30px -30px;
        display: flex;
        
    }
    #rodape{
        width: 100%;
        height: 180px;
        background-color: #ac64b6;
        margin: 20px 0px;
        color: var(--branca);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }

    #paragrafo{
        width: 650px;
        margin: 20px 0;
        padding: 30px;
        background-color: rgb(212, 138, 202);
        color: aliceblue;
        border-radius: 8px;
        line-height: 1.7;
    }
    
    #div-sobre h3{
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
    }
    
    #div-sobre p{
        text-align: justify;
        margin-bottom: 20px;
    }

    h3{
        background-color: #e7adec;
        width: 650px;
        text-align: center;
        height: 40px;
        border-radius: 8px;
        margin-top: 10px;
    }

   
    