/*IMPORTANDO A FONTE DAS LETRAS DO google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*DEFINE AS CONFIGURAÇÔES EM TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #ffffff;
    --cor02: #e4bdd0;
    --cor03: #000000;
    --branca: #dd8fd3;
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*FORMATANDO O CABEÇALHO*/
#cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
}

/*CONFIGURANDO MENU DA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img{
    width: 25px;
    height: 25px;
}

/*FORMATANDO SECTION pesquisa*/
#pesquisa{
    height: 200px;
    background-color: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisa input{
    width: 800px;
    height: 80px;
    background-color: var(--branca);
    border-radius: 8px;
    padding: 10px;
    font-size: 1.4em;
    color: var(--cor02);
}

#pesquisa input::placeholder{
    font-size: 1.3em;
    font-style: italic;
    color: var(--cor01);
}

/*FORMATANDO OS CARDS*/
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0px;
    width: 1000px;
    min-height: 800px;
}

.card{
    margin: 20px 0px;
    width: 250px;
    min-height: 280px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor02);
    border-radius: 8px;
}

.card img{
    width: 150px;
    height: 200px;
    margin: 10px 0px;
}

.card p{
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 20px 0px;
}

.card h2{
    color: var(--cor02);
}

.card button{
    width: 200px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor03);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--cor02);
    font-weight: bold;
    cursor: pointer;
}

/*FORMATAR O RODAPÉ*/

#rodape{
    width: 100%;
    height: 180px;
    background-color: #42008d;
    margin: 20px 0px;
    color: var(--branca);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

/*FORMATANDO LINKS*/
#menu a:link{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor02);
}

#menu a:visited{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: var(--cor02);
}

#menu a{
    display: inline-block;
    transition: transform .3s ease, color .3s ease;
}

#menu a:hover{
    transform: translateY(-5px);
    color: var(--cor01);
}

#menu a:active{
    color: var(--cor01);
}

#logo img{
    width: 220px;
    height: auto;
}