@import url(style_estrutura_pagina.css);

/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/* VARIÁVEIS */
:root{
    --cor01: #d4b0d4;
    --cor02: #ec8fe5;
    --cor03: #c78bc2;
    --branca: #ffffff;
}


/* PÁGINA */
#geral{
    margin: auto;
    width: 1200px;
    max-width: 100%;
}


/* CABEÇALHO */
#cabecalho{
    width: 200%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
    background-color: rgb(243,189,247);
}


/* MENU */
#menu ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

#menu ul img{
    width: 45px;
    height: 25px;
}


/* CONTEÚDO */
#conteudo{
    width: 100%;
}


#titulo{
    width: 900px;
    margin: 20px auto;
    background-color: #df72d0;
    padding: 18px;
    text-align: center;
}


/* PRODUTOS */
#principal{
    width: 900px;
    margin: 30px auto;
}


#produtos{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.produto{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}


.produto img{
    width: 110px;
    height: 110px;
}


.produto p{
    width: 80px;
    font-size: 15px;
}


.produto input{
    width: 45px;
    height: 25px;
}


/* RESUMO FINAL DA COMPRA */
#resumo{
    width: 900px;
    margin: 40px auto;
    border: 1px solid #000;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}


/* CAIXAS DO RESUMO */
.box-resumo{
    width: 190px;
    border: 1px solid #000;
    padding: 10px;
}


.box-resumo h4{
    background-color: #f795e2;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}


.box-resumo input,
.box-resumo p,
.box-resumo h3{

    width: 100%;
    padding: 10px;
    border: 1px solid #f07dd3;
    background-color: #f5a3dc;
    border-radius: 4px;
}


/* BOTÕES */
.botoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.botoes button{

    width: 48%;
    padding: 12px;

    border: none;
    border-radius: 4px;

    font-weight: bold;
    cursor: pointer;
}


.botoes button:first-child{
    background-color:#f83fd9;
    color:white;
}


.botoes button:last-child{
    background-color:#d5d1ec;
    color:black;
}


/* SEÇÕES DE PRODUTOS */
.secao-produtos{
    margin-bottom:40px;
    border:1px solid #ccc;
    padding:20px;
    border-radius:8px;
}


.secao-produtos h2{
    background-color:#f5bada;
    padding:10px;
    text-align:center;
}


/* RODAPÉ */
#rodape{
    width:200%;
    height:180px;
    background-color:#df96c1;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    margin-top:40px;
}