@import url(style_estrutura_pagina.css);

/*DEFINE AS CONFIGURAÇÔES EM TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #d5d1ec;
    --cor02: #b368fa;
    --cor03: #e0cef0;
    --branca: #ffffff;
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: auto;
    width: 1200px;
    max-width: 100%;
}

/*FORMATANDO O CABEÇALHO*/
#cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
    background-color: rgb(243, 189, 247);
}

/*CONFIGURANDO MENU DA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

#menu ul img{
    width: 45px;
    height: 25px;
}

/*FORMATANDO O DIV*/  

#principal {
      width: 900px;
      margin: 30px auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5px;
    }
    
#conteudo{
        width: 100%;
}

#titulo{
    width: 900px;
    margin: 20px auto;
    background-color: #e0cef0;
    padding: 18px;
    text-align: center;
}

#produtos{
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
#resumo {
        width: 220px;
        min-width: 280px;
        border: 1px solid #000000;
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 10px;
}

.produto{
        display: flex;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid #ffffff;
        padding: 15px 0;
}

.produto p{
    width: 55px;
    font-size: 15px;
}

.produto input{
    width: 45px;
    height: 25px;
}

.produto img{
    width: 110px;
    height: 110px;
}

#resumo input, #resumo p, #resumo h3{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9d6ee9;
    background-color: #d5d1ec;;
    color: rgb(10, 10, 10);
    border-radius: 4px;
}

#resumo input{
    background-color: #d5d1ec;
    color: rgb(0, 0, 0);
    border: 1px solid #9d6ee9;
}

.box-resumo{
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 15px;
}

.box-resumo h4{
    background: #401f5b;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.box-resumo input{
    width: 100%;
    padding: 10px;
    background: white;
    color: black;
    border: 1px solid #999;
}

.box-resumo input::placeholder{
    color: rgb(0, 0, 0)
}

.box-resumo p,
.box-resumo h3{
    margin: 8px 0;
}

#resumo button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 8px;
}

#resumo button:first-of-type{
    background-color: #401f5b;
}

#resumo button:last-of-type{
    background-color: #d5d1ec;
    color: black;
}

.nome{
    width: 140px;
}

.preco{
    width: 80px;
}


