/*IMPORTANDO A FONTE DAS LETRAS DO google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*DEFINE AS CONFIGURAÇÔES EM TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #cf9cd1;
    --cor02: #d86dbd;
    --cor03: #ff8af5;
    --branca: #ffffff;
}
/* FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: 20px;

}
/*FORMATANDO O CABEÇALHO*/
#cabecalho{
    background-color: deeppink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px;
   

}
/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
#menu ul img{
    width: 25px;
    height: 25px;
}